<!DOCTYPE HTML>
<html>
	<head>
		<title>BookEx</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">

		<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/brands.js" integrity="sha384-sCI3dTBIJuqT6AwL++zH7qL8ZdKaHpxU43dDt9SyOzimtQ9eyRhkG3B7KMl6AO19" crossorigin="anonymous"></script>
		<link href="https://fonts.googleapis.com/css?family=Asap:400,500,600,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/background.css">

		<!-- Style -->
		<style>
		body, html {
		  height: 100%;
		  margin: 0;
		}
			
		input[type=number]::-webkit-inner-spin-button, 
		input[type=number]::-webkit-outer-spin-button { 
		  -webkit-appearance: none; 
		  margin: 0; 
		}

		.bg {
		  /* The image used */
		  /*background-image: url("https://mtp.ottawasafetycouncil.ca/wp-content/uploads/2017/12/pexels-photo-733856.png");*/

		  /* Full height */
		  height: calc(100% + 60px); 

		  /* Center and scale the image nicely */
		  background-position: center;
		  background-repeat: no-repeat;
		  background-size: inherit;
		}
		.bg-text {
		  background-color: rgb(0,0,0); /* Fallback color */
		  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
		  color: white;
		  font-weight: bold;
		  border: 10px solid #f1f1f1;
		  position: absolute;
		  top: 55%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  z-index: 2;
		  padding: 20px;
		  text-align: center;
		}
		.bg-subtext {
		  background-color: rgb(0,0,0); /* Fallback color */
		  background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
		  color: white;
		  font-weight: 500;
		  font-style: italic;
		  font-size: 24px;
		  position: absolute;
		  top: 55%;
		  left: 50%;
		  transform: translate(-50%, 200%);
		  z-index: 2;
		  padding: 20px;
		  text-align: center;
		}
			.btn-primary{
				background-color: #6c63ff;
				color: white;
			}
		.scroller {
		  width: 3px;
		  height: 10px;
		  border-radius: 25%;
		  background-color: #fff;
		  animation-name: scroll;
		  animation-duration: 2.2s;
		  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
		  animation-iteration-count: infinite;
		}
		
		.books-body {width: 100%;
			transition: 0.7s ease;
		}
		.books:hover .books-body{
			z-index: 1;
			height: 90%;
			transition: 0.7s ease;
		}
		.books:hover{
			box-shadow: 8px 12px 31px -10px #ab98ab;
			transition: 0.7s ease;
		}
			
			.tag{
				display: inline-block;    margin: 0 20px; width: max-content;
			}
			.tag-btn{
				display: inline-block;    margin: auto 20px;
			}

			
		@keyframes scroll {
		  0% { opacity: 0; }
		  10% { transform: translateY(0); opacity: 1; }
		  100% { transform: translateY(15px); opacity: 0;}
		}
		@media screen and (min-width: 601px) {
		  .bg-text {
		    font-size: 80px;
		  }
		}
			

		@media screen and (max-width: 600px) {
		  .bg-text {
		    font-size: 24px;
		    border: 6px solid #f1f1f1;
		    transform: translate(-50%, -140%);
		  }
		  .mousey {
		  	display: none;
		  }
		  .bg-subtext{
		  	font-size: 15px;
		  	transform: translate(-50%, 40%);
		  	font-weight: 600;
		  }
		}

		.scroll-down {
			position: absolute;
			left: 49%;
			bottom: 20px;
			display: block;
			text-align: center;
			font-size: 20px;
			z-index: 100;
			text-decoration: none;
			text-shadow: 0;
		  width: 15px;
		  height: 15px;
		  border-bottom: 4px solid #fff;
		  border-right: 4px solid #fff;
		  z-index: 9;
		  left: 49%;
		  -webkit-transform: translate(-50%, 0%) rotate(45deg);
		  -moz-transform: translate(-50%, 0%) rotate(45deg);
		  transform: translate(-50%, 0%) rotate(45deg);
			-webkit-animation: fade_move_down 4s ease-in-out infinite;
			-moz-animation:    fade_move_down 4s ease-in-out infinite;
			animation:         fade_move_down 4s ease-in-out infinite;
		}
		
		#or {
		  position: relative;
		  width: 300px;
		  height: 50px;

		  line-height: 50px;
		  text-align: center;
		}

		#or::before,
		#or::after {
		  position: absolute;
		  width: 130px;
		  height: 1px;

		  top: 24px;

		  background-color: #aaa;

		  content: '';
		}

		#or::before {
		  left: 0;
		}

		#or::after {
		  right: 0;
		}

		/*animated scroll arrow animation*/
		@-webkit-keyframes fade_move_down {
		  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
		  50%  { opacity: 1;  }
		  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
		}
		@-moz-keyframes fade_move_down {
		  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
		  50%  { opacity: 1;  }
		  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
		}
		@keyframes fade_move_down {
		  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
		  50%  { opacity: 1;  }
		  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
		}

			
		.rate-area {
			float:left;
			border-style: none;
		}

		.rate-area:not(:checked) > input {
			position:absolute;
			top:-9999px;
			clip:rect(0,0,0,0);
		}

		.rate-area:not(:checked) > label {
			float:right;
			width:1em;
			padding:0 .1em;
			overflow:hidden;
			white-space:nowrap;
			cursor:pointer;
			font-size:300%;
			line-height:1.2;
			color:lightgrey;
			text-shadow:1px 1px #bbb;
		}

		.rate-area:not(:checked) > label:before {
			content: '★ ';
		}

		.rate-area > input:checked ~ label {
			color: gold;
			text-shadow:1px 1px #c60;
			font-size:300% !important;
		}

		.rate-area:not(:checked) > label:hover,
		.rate-area:not(:checked) > label:hover ~ label {
			color: gold;

		}

		.rate-area > input:checked + label:hover,
		.rate-area > input:checked + label:hover ~ label,
		.rate-area > input:checked ~ label:hover,
		.rate-area > input:checked ~ label:hover ~ label,
		.rate-area > label:hover ~ input:checked ~ label {
			color: gold;
			text-shadow: 1px 1px goldenrod;   

		}

		.rate-area > label:active {
			position:relative;
			top: 2px;
			left:2px;
		}
			.landing {
				 background-image:url('https://images.wallpaperscraft.com/image/books_library_shelves_138556_1920x1080.jpg');
			}
			.navigation{
				background-color:rgba(0, 0, 0, 0.5); 
			}
			.overpage {
				 width: 400px; margin:10% auto; 
			}
			.login-btn-left {
				float:left;
			}
			.login-btn-right {
				float:right;
				margin: 0 10px;
			}
			.rating-comment {
				display: inline-block; 
				float: right; 
				padding: 0 45px;
			}
			.screen {
				margin: 10% auto;
			}
			.row-au{
				margin-right: 0;
			}
			.one{
				margin: 20px auto 20px auto;
			}
			.two{
				margin: 20px auto 20px auto;
			}
			.four{
				margin: 20px auto 20px auto;
			}
			.five {
				margin: 20px auto 20px auto;
			}
			.six{
				margin: 20px auto 20px auto;
			}
			.seven{
				margin: 20px auto 20px auto;
			}
			.eight{
				margin: 20px auto 20px auto;
			}
			.nine{
				margin: 20px auto 20px auto;
			}
			.ten{
				margin: 20px auto 20px auto;
			}
			.eleven{
				margin: 20px auto 20px auto;
			}
			.twelve{
				margin: 20px auto 20px auto;
			}
			.thirteen{
				margin: 20px auto 20px auto;
			}
			.fourteen{
				margin: 20px auto 20px auto;
			}
			.fifteen{
				margin: 20px auto 20px auto;
			}
			.seventeen{
				margin: 20px auto 20px auto;
			}
			.eighteen{
				margin: 20px auto 20px auto;
			}
			.twenty{
				margin: 20px auto 20px auto;
			}
			.twentyone{
				margin: 20px auto 20px auto;
			}
			
			.accept{
				margin: 20px 120px;
			}
			.delete{
				margin: 20px 90px;
			}
			
			.screen {
				margin: 10% auto;
				width: 700px;
			}
			.screen-rating {
				margin: 10% auto;
				width: 400px;
			}
			.tag2{
				width:100%; 
			}
			.tag-form{
				margin: 0 auto;
			}
			
			@media only screen and (max-width: 600px) {
				.landing {
				 	background: none;
					height: 100%;
				}
				.bg-text {
				  background-color: rgb(0,0,0); /* Fallback color */
				  background-color: #6c63ff2e; /* Black w/opacity/see-through */
				  color: #6c63ff;
				  font-weight: bold;
				  border: 10px solid #6c63ff;
				  position: absolute;
				  z-index: 2;
					font-size: 44px;
				  padding: 20px;
				  text-align: center;
				}
				.bg-subtext {
				  background-color: rgb(0,0,0); /* Fallback color */
				  background-color: rgba(0,0,0, 0); /* Black w/opacity/see-through */
				  color: #6c63ff;
				  font-weight: 500;
				  font-style: italic;
		  		  font-size: 18px;
				  position: absolute;
				  z-index: 2;
				  padding: 20px 5px;
				  text-align: center;
				}
				.scroll-down {
					position: absolute;
					left: 49%;
					bottom: 20px;
					display: block;
					text-align: center;
					font-size: 20px;
					z-index: 100;
					text-decoration: none;
					text-shadow: 0;
				  width: 15px;
				  height: 15px;
				  border-bottom: 4px solid #6c63ff;
				  border-right: 4px solid #6c63ff;
				  z-index: 9;
				  left: 49%;
				  -webkit-transform: translate(-50%, 0%) rotate(45deg);
				  -moz-transform: translate(-50%, 0%) rotate(45deg);
				  transform: translate(-50%, 0%) rotate(45deg);
					-webkit-animation: fade_move_down 4s ease-in-out infinite;
					-moz-animation:    fade_move_down 4s ease-in-out infinite;

				}
				.navigation {
					background-color: #0000004a;
				}
				.navbar-dark .navbar-brand{
					color: #6c63ff;
				}
				.overpage {
					width: 90vw;
					margin: 30% auto;
				}
				.login-btn-left {
					text-align: center;
					margin: 10px auto;
					float: none;	
				}
				.login-btn-right {
					text-align: center;
					margin: 10px auto;
					float: none;	
				}
				.rating-comment {
					display: block; 
					float: none; 
					padding: 0;
				}
				.screen {
					margin: 30% auto;
					width: 90vw;
				}
				.screen-rating {
					margin: 30% auto;
					width: 90vw;
				}
				
				.screen-buy {
					margin: 30% auto;
					width: 90vw;
				}
				.one{
					order: 1;
					margin: 20px;
				}
				.two{
					order: 2;
					margin: 20px;
				}
				.three{
					order: 3;
				}
				.four{
					order: 4;
					margin: 20px;
				}
				.five {
					order: 5;
					margin: 20px;
				}
				.six{
					order: 6;
					margin: 20px;
				}
				.seven{
					order: 7;
					margin: 20px;
				}
				.eight{
					order: 8;
					margin: 20px;
				}
				.nine{
					order: 9;
					margin: 20px;
				}
				.ten{
					order: 10;
					margin: 20px;
				}
				.eleven{
					order: 11;
					margin: 20px;
				}
				.twelve{
					order: 12;
					margin: 20px;
				}
				.thirteen{
					order: 13;
					margin: 20px;
				}
				.fourteen{
					order: 14;
					margin: 20px;
				}
				.fifteen{
					order: 15;
					margin: 20px;
				}
				.sixteen{
					order: 16;
				}
				.seventeen{
					order: 17;
					margin: 20px;
				}
				.eighteen{
					order: 18;
					margin: 20px;
				}
				.nineteen{
					order: 19;
				}
				.tag-form{
					margin: 20% auto;
				}
				.twenty{
					order: 20;
					margin: 20px;
				}
				.twentyone{
					order: 21;
					margin: 20px;
				}
				.row-au{
					margin: 0 auto;
					width: 100vw;
				}
			
				.accept{
					display: block;
					margin: 20px auto;
				}
				.delete{
					display: block;
					margin: 20px auto;
				}
				.tag{
					display: block;   
					margin: 10px auto;
					padding: 0;
				}
				.tag2{
					width:90vw; 
				}
				.tag-btn{
					display: block;    margin: auto auto;
				}
			}

		</style>
	</head>
	<!-- <body class="bg" style="height: 100%; background-image:url('https://images.wallpaperscraft.com/image/books_library_shelves_138556_1920x1080.jpg'); background-attachment: fixed;"> -->