<% include partials/header %>
		<!-- Navbar Begins -->

<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="position: relative;">
				  <a class="navbar-brand mb-0 h1" href="/">BookEx</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					  <ul class="navbar-nav mr-auto">
						  <li class="nav-item my-auto"><a class="nav-link" href="/" style="margin: 0 10px;">Home</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/books" style="margin: 0 10px;">Books</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/ebooks" style="margin: 0 10px;">E-Books/PDFs</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/misc" style="margin: 0 10px;">Miscellaneous</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/books/new" style="margin: 0 10px;">Lend Items</a></li>
				  <% if(currentUser != null) {%>
				  <li class="nav-item my-auto"><a class="nav-link" href="/mybooks" style="margin: 0 10px;">My Books</a></li>
				  <% } %>
					  </ul>
					<ul class="navbar-nav ml-auto">
						<% if (!currentUser) { %>
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0" action="/signup" method="GET">
						<button class="btn btn-outline-info my-2 my-sm-0" style="margin: 0 10px;">Login</button>
					</form>
				</li>
				<% } else { %>
						<li class="nav-item">
                    <% if(show) { if(seen) { %>
                    <a href="/notif"><i class="far fa-bell btn-lg"></i></a>
                    <% } else { %>
                    <a href="/notif"><i class="fas fa-bell btn-lg" style=" background-color: blue; color: white; "></i></a>
                    <% } } %>
                </li>
				<li class="nav-item" style="text-align: center;">
					<span class="my-2 my-lg-0 mx-4">Logged in as:</span>
					<br>
					<span class="my-2 my-lg-0 mx-4"><%= currentUser.firstname %> <%= currentUser.lastname %></span>
				</li>
				<li class="nav-item my-auto" style="text-align: center;color:white;font-size: 24px;">
					<a class="my-2 my-lg-0 mx-4" style="color: black;background-color: transparent;border: 0;" href="/<%= currentUser._id.toString() %>/cart"><i class="fa fa-shopping-cart"></i></a>
				</li>
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0" action="/signout" method="GET">
						<button class="btn btn-outline-danger my-2 my-sm-0" style="margin: 0 10px;">Logout</button>
					</form>
				</li>
				<% } %>
					</ul>

				  </div>
				</nav>
	
	<!-- Navbar Ends -->
	
	<!-- About Us Begins -->
	<div class="row" style="margin-right: 0">
		<!-- Why Book-Ex -->
		<div class="col-lg-5" style="text-align: center; margin: 20px; display: flex">
			<img src="/images/booklover.png" style="width: 90%;flex: 1; align-self: center;">
		</div>
		<div class="col-lg-5" style="margin: 20px auto 20px auto; padding: 15px;background-color: #6c63ff;color: white;border-radius: 25px;box-shadow: 5px 9px 11px 4px #6c63ff52; display: flex; font-family: cursive;">
			<div style="flex: 1; align-self: center;">
				<h1 style="text-align:center; font-weight: 600">
					Why BookEx?
				</h1>
				<br>
				<p style="text-align:center; font-size: 18px;">
					<strong>BookEx</strong> is your one-stop solution for all your Study Materials related problems. <br>Have some Books stacking up your shelves, or some E-Book you find very interesting or helpful and would love to share, or have some other equipments, like Calculators, which you bought (or have) but is of no use to you now? <br>Just upload them on BookEx. <br>Need some books to refer, or want some relevant E-Books to read and strengthen your concepts, or are you in need of some Calculators, Drafters, etc because your teacher desperately wants you to have it? <br>Why not search it on BookEx first? Maybe you would be lucky enough to find someone willing to lend you.
				</p>
			</div>
		</div>
		<!-- How to Use -->
		<div class="col-lg-12" style="
    padding: 0;
    margin: 25px 0;
">
			<h1 style="
    text-align: center;
    font-weight: 600;
    color: white;
    background-color: #6c63ff;
    padding: 25px 0;
    text-shadow: 6px 7px 8px #0e0c29b5;
">
				HOW TO USE BookEx
			</h1>
		</div>
		<!-- Books -->
		<div class="col-lg-5" style="margin: 20px auto 20px auto; padding: 15px;background-color: #6c63ff;color: white;border-radius: 25px;box-shadow: 5px 9px 11px 4px #6c63ff52; display: flex; font-family: cursive;">
			<div style="flex: 1; align-self: center;">
				<h1 style="text-align:center; font-weight: 600">
					Buy/Give Books
				</h1>
				<br>
				<p style="text-align:center; font-size:18px;">
					Do you have some books that you would love to give to others, or do you need some books to refer your course or do you have Bibliophilia? Use <strong>BookEx</strong> to get or give Books and share knowledge and wisdom among others.<br><br><strong>Steps to lend a book:</strong>
				</p>
				<ol style="text-align:justify; font-size:18px;list-style-position: outside;">
					<li>Login with your Google Account on BookEx.</li>
					<li>Go to Lend Books section and submit various details of the Book (like Title, Author, desired Price, a bit of Discription about the Book, an image of the Book).</li>
					<li>Done! Now your book details will be uploaded on BookEx after verification of details. This may take a day or two.</li>
					<li>As soon as you get a customer, we will inform you with his contact details in your Notification section upon which you can contact the customer to deal your product.</li>
				</ol>
				<p style="text-align:center; font-size:18px;">
				<strong>Steps to get a book:</strong>
				</p>
				<ol style="text-align:justify; font-size:18px;list-style-position: outside;">
					<li>Login with your Google Account on BookEx.</li>
					<li>Go to Books section and search for the book manually or use the Search Bar, select the desired book and click on Buy Now button.</li>
					<li>Want more than one book? Instead of Buy Now, click on Add to Cart. Once collected, go to your Cart and select Buy Now.</li>
					<li>Hurrah! You will be provided with the contact details of the seller, in your Notification section, which you can use to deal with seller and get your Books.</li>
				</ol>
			</div>
		</div>
		<div class="col-lg-5" style="text-align: center; margin: 20px; display: flex">
			<img src="/images/books.png" style="width: 90%;flex: 1; align-self: center;">
		</div>
		<!-- Ebooks -->
		<div class="col-lg-5" style="text-align: center; margin: 20px; display: flex">
			<img src="/images/ebooks.png" style="width: 90%;flex: 1; align-self: center;">
		</div>
		<div class="col-lg-5" style="margin: 20px auto 20px auto;background-color: #6c63ff; padding: 15px;color: white;border-radius: 25px;box-shadow: 5px 9px 11px 4px #6c63ff52; display: flex; font-family: cursive;">
			<div style="flex: 1; align-self: center;">
				<h1 style="text-align:center; font-weight: 600">
					Download/Upload E-Books
				</h1>
				<br>
				<p style="text-align:center; font-size:18px;">
					Do you have some E-Books that you would love to share with others, or do you need some EBooks to refer your course or are you a Booklover? Use <strong>BookEx</strong> to upload or download E	Books and share knowledge and wisdom among others for free.<br><br><strong>Steps to upload your E-Book:</strong>
				</p>
				<ol style="text-align:justify; font-size:18px;list-style-position: outside;">
					<li>Login with your Google Account on BookEx.</li>
					<li>Go to Lend Books section and submit various details of the Book (like Title, Author,a bit of Discription about the EBook) and select EBook from your systme to Upload the Ebook.</li>
					<li>Done! Now your EBook will be uploaded on your Google Drive and will be available for Downloading to other upon verification of the details. This may take a day or two.</li>
				</ol>
				<p style="text-align:center; font-size:18px;">
				<strong>Steps to download an EBook are given below:</strong>
				</p>
				<ol style="text-align:justify; font-size:18px;list-style-position: outside;">
					<li>Login with your Google Account on BookEx.</li>
					<li>Go to EBooks/PDSs section and search for the EBook manually or use the Search Bar, select the desired book and click on Download button to download it.</li>
					<li>Done! Now your EBook will be downloaded in your system. Enjoy reading it!</li>
				</ol>
			</div>
		</div>
		<!-- Miscellaneous -->
		<div class="col-lg-5" style="margin: 20px auto 20px auto; padding: 15px;background-color: #6c63ff;color: white;border-radius: 25px;box-shadow: 5px 9px 11px 4px #6c63ff52; display: flex; font-family: cursive;">
			<div style="flex: 1; align-self: center;">
				<h1 style="text-align:center; font-weight: 600">
					Buy/Give Miscellaneous Items
				</h1>
				<br>
				<p style="text-align:center; font-size:18px;">
					Do you have some study equipments that you don't need now, or do you need some study equipments? Use <strong>BookEx</strong> to get or give such variety of study equipments and.<br><br><strong>Steps to lend a Miscellaneous Item:</strong>
				</p>
				<ol style="text-align:justify; font-size:18px;list-style-position: outside;">
					<li>Login with your Google Account on BookEx.</li>
					<li>Go to Lend Books section and submit various details of the Item (like Title, desired Price, a bit of Discription about the Item, an image of the Item).</li>
					<li>Done! Now your Item details will be uploaded on BookEx after verification of details. This may take a day or two.</li>
					<li>As soon as you get a customer, we will inform you with his contact details in your Notification section upon which you can contact the customer to deal your product.</li>
				</ol>
				<p style="text-align:center; font-size:18px;">
				<strong>Steps to get a Miscellaneous Item:</strong>
				</p>
				<ol style="text-align:justify; font-size:18px;list-style-position: outside;">
					<li>Login with your Google Account on BookEx.</li>
					<li>Go to Miscellaneous section and search for the Item manually or use the Search Bar, select the desired Item and click on Buy Now button.</li>
					<li>Want more than one item? Instead of Buy Now, click on Add to Cart. Once collected, go to your Cart and select Buy Now.</li>
					<li>Hurrah! You will be provided with the contact details of the seller, in your Notification section, which you can use to deal with seller and get your Items.</li>
				</ol>
			</div>
		</div>
		<div class="col-lg-5" style="text-align: center; margin: 20px; display: flex">
			<img src="/images/miscellaneous.png" style="width: 90%;flex: 1; align-self: center;">
		</div>
		<!-- Cart -->
		<div class="col-lg-5" style="text-align: center; margin: 20px; display: flex">
			<img src="/images/cart2.png" style="width: 90%;flex: 1; align-self: center;">
		</div>
		<div class="col-lg-5" style="margin: 20px auto 20px auto; padding: 15px;background-color: #6c63ff;color: white;border-radius: 25px;box-shadow: 5px 9px 11px 4px #6c63ff52; display: flex; font-family: cursive;">
			<div style="flex: 1; align-self: center;">
				<h1 style="text-align:center; font-weight: 600">
					Cart Feature
				</h1>
				<br>
				<p style="text-align:center; font-size:18px;">
					Want to buy Books and/or Miscellaneous items in a bunch? No problem, we got <strong>Cart</strong> feature for you. Not exagerating it much, it's the normal cart you get on other shopping websites with facilities to buy all the items selected in bunch or remove an item from your cart. Once you select the Buy Now option from your Cart, you get the contact details of all the uploaders whose uploaded items you choosed to buy, in your Notification Section. The uploaders of the items also receive your contact details so that they could also reach out to you. 
				</p>
			</div>
		</div>
		<!-- Notification -->
		<div class="col-lg-5" style="margin: 20px auto 20px auto; padding: 15px;background-color: #6c63ff;color: white;border-radius: 25px;box-shadow: 5px 9px 11px 4px #6c63ff52; display: flex; font-family: cursive;">
			<div style="flex: 1; align-self: center;">
				<h1 style="text-align:center; font-weight: 600">
					Notification Feature
				</h1>
				<br>
				<p style="text-align:center; font-size:18px;">
					We got you a Notification section to help you get updated with latest happenings regarding your workaround on <strong>BookEx</strong>. You will be notified with a notification whenever
				</p>
				<ul style="text-align:justify; font-size:18px;list-style-position: outside;">
					<li>You upload a Book/E-Book/Miscellaneous Item on BookEx. You also recieve in the notification the details provided by you.</li>
					<li>You edit a Book/E-Book/Miscellaneous Item on BookEx. You also recieve in the notification the details provided by you.</li>
					<li>Someone buys your uploaded Book/Miscellaneous Item. You also recieve in the notification the contact details of the customer.</li>
					<li>Some of the items in your Cart went Out of Stock or was deleted by the Uploader.</li>
				</ul>
			</div>
		</div>
		<div class="col-lg-5" style="text-align: center; margin: 20px; display: flex">
			<img src="/images/notifications2.png" style="width: 90%;flex: 1; align-self: center;">
		</div>
		<!-- Ratings/Comments -->
		<div class="col-lg-5" style="text-align: center; margin: 20px; display: flex">
			<img src="/images/ratings.png" style="width: 90%;flex: 1; align-self: center;">
		</div>
		<div class="col-lg-5" style="margin: 20px auto 20px auto; padding: 15px;background-color: #6c63ff;color: white;border-radius: 25px;box-shadow: 5px 9px 11px 4px #6c63ff52; display: flex; font-family: cursive;">
			<div style="flex: 1; align-self: center;">
				<h1 style="text-align:center; font-weight: 600">
					Ratings/Comments Feature
				</h1>
				<br>
				<p style="text-align:center; font-size:18px;">
					Liked a Book or an EBook or a Miscellaneous Item, or just want to share your thoughts and views about a product? Just use the Ratings and Comment Feature. Your uploaded reviews for the item will be visible to all and could help others looking out for the same item. <br><strong>Steps to Review an item:</strong>
				</p>
				<ol style="text-align:justify; font-size:18px;list-style-position: outside;">
					<li>Login with your Google Account on BookEx.</li>
					<li>Select your desired item from Books/Ebooks/Miscellaneous Sections. Select on Rate this item to give your ratings and comments.</li>
					<li>Give your ratings to the product (out of 5) and post your thoughts in the comment box. Just click on submit once done.</li>
					<li>Awesome! Your review for the item has been uploaded and could be seen on the display page of item.</li>
				</ol>
			</div>
		</div>
		<!-- Feedback Form -->
		<div class="col-lg-12" style="
    padding: 0;
    margin: 25px 0;
">
			<h1 style="
    text-align: center;
    font-weight: 600;
    color: white;
    background-color: #6c63ff;
    padding: 25px 0;
    text-shadow: 6px 7px 8px #0e0c29b5;
">
				FEEDBACK FORM
			</h1>
		</div>
		<div class="col-lg-5" style="margin: 20px auto 20px auto; padding: 15px;background-color: #6c63ff;color: white;border-radius: 25px;box-shadow: 5px 9px 11px 4px #6c63ff52; display: flex; font-family: cursive;">
			<div style="flex: 1; align-self: center; text-align:center;">
				<h1 style="text-align:center; font-weight: 600">
					Share your feedbacks
				</h1>
				<br>
				<p style="text-align:center; font-size:18px;">
					Loved our website? Hated it? Have some suggestions? Found some bugs? Share it with us. No worries you may put any anonymous name or your real name below. So feel free to share your reviews about us with us.
				</p>
				<br>
				<form id="feedb">
				  <div class="form-group">
					<input type="text" class="form-control" name= "feed[name]" id="inputname" placeholder="Your name here..." style="height: 50px;">
				  </div>
				  <div class="form-group" style="margin-top: 20px;">
					<textarea class="form-control" name= "feed[content]" placeholder="Write your feedback here..." style="height: 200px;"></textarea>
				  </div>
				  
				</form>
				<button onClick="RedirectAfterDelayFn()" type="submit" class="btn-lg" style="color: #6c63ff; background-color: white; border-radius: 25px; border: 0; width: 60%;">Submit</button>
				<br>
				<div id="CountDown" style="display: none">  
					Thank you for submiting your feedback. The page will be reloaded in 
					<br />  
					<span id="CountDownLabel"></span> seconds.  
				</div> 
			</div>
		</div>
		<div class="col-lg-5" style="text-align: center; margin: 20px; display: flex">
			<img src="/images/feedback.png" style="width: 90%;flex: 1; align-self: center;">
		</div>
		<!-- Privacy Policies -->
		<div class="col-lg-12" style="
    padding: 0;
    margin: 25px 0;
">
			<h1 style="
    text-align: center;
    font-weight: 600;
    color: white;
    background-color: #6c63ff;
    padding: 25px 0;
    text-shadow: 6px 7px 8px #0e0c29b5;
">
				PRIVACY POLICIES
			</h1>
		</div>
		<div class="col-lg-5" style="text-align: center; margin: 20px; display: flex">
			<img src="/images/privacy.png" style="width: 90%;flex: 1; align-self: center;">
		</div>
		<div class="col-lg-5" style="margin: 20px auto 20px auto; padding: 15px;background-color: #6c63ff;color: white;border-radius: 25px;box-shadow: 5px 9px 11px 4px #6c63ff52; display: flex; font-family: cursive;">
			<div style="flex: 1; align-self: center; text-align:center;">
				<h1 style="text-align:center; font-weight: 600">
					How we handle your data?
				</h1>
				<br>
				<p style="text-align:center; font-size:18px;">
					Worried before logging in to our website? No worries, below are the mentioned details that we access when you login to BookEx along with the details of how we use it.
				</p>
				<br>
				<ul style="text-align:justify; font-size:18px;list-style-position: outside;">
					<li><strong>Your Email ID:</strong> This is your Google Email-ID which is shared with the Seller/Buyer of an item whenever you buy/lend respectively. This acts as your contact detail for the other person to reach out to you.</li>
					<li><strong>Your first and last name:</strong> This is your first and last name as mentioned in your Google ID. You can, although, change your name on your first login.  This acts as one of your contact name to the other person reaching out to you.</li>
					<li><strong>Access to your Google Drive:</strong> This the Google Drive linked with your login account. We use your Google Drive for the storage of E-Books that you upload. We don't access, use or share any of your other drive files. We only access, store and share the files upload by using BookEx.</li>
					<li><strong>Your mobile number:</strong> This is your personal Conact Number which is shared with the Seller/Buyer of an item whenever you buy/lend respectively. This acts as one of your contact detail for the other person to reach out to you.</li>
				</ul>
			</div>
		</div>
	</div>

  <!-- About Us Ends -->
	
	<script type="text/javascript">  
		function RedirectAfterDelayFn()  
		{  
			var seconds = 5;  
			var dvCountDown = document.getElementById("CountDown");  
			var lblCount = document.getElementById("CountDownLabel");  
			var feed = document.getElementById("feedb");
			dvCountDown.style.display = "block";  
			lblCount.innerHTML = seconds;  
			setInterval(function ()  
			{  
				seconds--;  
				lblCount.innerHTML = seconds;  
				if (seconds == 0)  
				{  
					feed.action='/feed';
					feed.method='POST';
					dvCountDown.style.display = "none";  
					feed.submit();
				}  
			}, 1000);  
		}  
	</script>  
	
<% include partials/footer %>