<% include partials/header %>

<body class="bg" style="height: 100%; background-image:url('https://images.wallpaperscraft.com/image/books_library_shelves_138556_1920x1080.jpg'); background-attachment: fixed;">
	

<!-- Navbar Begins -->

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:rgba(0, 0, 0, 0.5);">
		  <a class="navbar-brand mb-0 h1" href="/">KitabBuddy</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
				  <li class="nav-item my-auto active"><a class="nav-link" href="/" style="margin: 0 10px;">Home</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/books" style="margin: 0 10px;">All Books</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/books/new" style="margin: 0 10px;">Lend Books</a></li>
				  <% if(currentUser != null) {%>
				  <li class="nav-item my-auto"><a class="nav-link" href="/mybooks" style="margin: 0 10px;">My Books</a></li>
				  <% } %>
			  </ul>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0" action="/books" method="GET">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
							</div>
							<input type="text" name="search" class="form-control" placeholder="Search Books...">
						</div>
						<button class="btn btn-info my-2 my-sm-0" style="margin: 0 10px;">Search</button>
					</form>
				</li>
				<% if (!currentUser) { %>
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0" action="/signup" method="GET">
						<button class="btn btn-outline-info my-2 my-sm-0" style="margin: 0 10px;">Sign Up</button>
					</form>
				</li>
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0" action="/signin" method="GET">
						<button class="btn btn-outline-success my-2 my-sm-0" style="margin: 0 10px;">Sign In</button>
					</form>
				</li>
				<% } else { %>
				<li class="nav-item" style="text-align: center;">
					<span class="my-2 my-lg-0 mx-4" style="color:white">Signed in as:</span>
					<br>
					<span class="my-2 my-lg-0 mx-4" style="color:white"><%= currentUser.firstname %> <%= currentUser.lastname %></span>
				</li>
				<li class="nav-item my-auto" style="text-align: center;color:white;font-size: 24px;">
					<a class="my-2 my-lg-0 mx-4" style="color: white;background-color: transparent;border: 0;" href="/<%= currentUser._id.toString() %>/cart"><i class="fa fa-shopping-cart"></i></a>
				</li>
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0" action="/signout" method="GET">
						<button class="btn btn-outline-danger my-2 my-sm-0" style="margin: 0 10px;">Sign Out</button>
					</form>
				</li>
				<% } %>
			</ul>
			
		  </div>
		</nav>

<!-- End of Navbar -->

<!-- Main Welcome Image -->
<div class="bg" style="background-color: rgba(0, 0, 0, 0)"></div>
<div class="bg-text">KitabBuddy</div>
<div class="bg-subtext">A Wonderland for the Old Books and the Geeky Minds.</div>

<div class="scroll-down"></div>

<!-- Main Welcome Image ends -->



<!-- Navigation Cards -->
<div class="container">
<div class="card-deck" style="margin: 30px auto;">
    <div class="col-md-4">
	    <div class="card profile-card-2" style="background-image: url('https://images.unsplash.com/photo-1516541196182-6bdb0516ed27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');">
	        <div class="card-img-block">
	            <img class="img-fluid" src="https://images.pexels.com/photos/1148399/pexels-photo-1148399.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image cap" style="width: 150px;height: 150px;border-radius: 50%;display: block;margin: 15px auto 0;">
	        </div>
	        <div class="card-body pt-5">
	            <h5 class="card-title" style="text-align:center;">Get Books</h5>
	            <p class="card-text">Get the books you want at a much lower price than their market price.<br><strong style="text-align:center; display:block;">How?</strong>Simple, you buy the books which are being provided to you by other peoples who don't need those books now.<strong> What are you waiting for!</strong></p>
	            <div style="text-align:center"><a href="/books" class="btn btn-primary stretched-link">Start Buying Now!</a></div>
	        </div>
	    </div>
	</div>
    <div class="col-md-4">
	    <div class="card profile-card-2" style="background-image: url('https://i.pinimg.com/originals/df/7f/4c/df7f4c51df5edae3e9bf78fef81f4000.jpg');">
	        <div class="card-img-block">
	            <img class="img-fluid" src="https://townsquare.media/site/103/files/2014/04/84010602-630x450.jpg?w=980&q=75" alt="Card image cap" style="width: 150px;height: 150px;border-radius: 50%;display: block;margin: 15px auto 0;">
	        </div>
	        <div class="card-body pt-5">
	            <h5 class="card-title" style="text-align:center;">Lend Books</h5>
	            <p class="card-text">Got some books on your shelf that are of no more use to you. Why not sell them on <strong>KitabBuddy</strong>?<br>Get the best price for your books and help someone else need.<strong>What are you waiting for!</strong></p>
	            <div style="text-align:center"><a href="/books/new" class="btn btn-warning stretched-link">Lend Books Now!</a></div>
	        </div>
	    </div>
	</div>
	<div class="col-md-4">
	    <div class="card profile-card-2" style="background-image: url('http://getwallpapers.com/wallpaper/full/6/4/7/1392811-gorgerous-simple-background-pictures-1920x1080-htc.jpg');">
	        <div class="card-img-block">
	            <img class="img-fluid" src="https://i.pinimg.com/originals/a3/1b/1d/a31b1d35380af24948f54b42346225f6.png" alt="Card image cap" style="width: 150px;height: 150px;border-radius: 50%;display: block;margin: 15px auto 0;">
	        </div>
	        <div class="card-body pt-5">
	            <h5 class="card-title">About Us</h5>
	            <p class="card-text"><strong>KitabBuddy</strong> serves the platform for the ones in need of books but are not able to pay its hefty market price, and for the ones who have old books stacking up in their shelves and want to sell it.<br>Know more about us, our future vision and our mission.</p>
	            <div style="text-align:center"><a href="#" class="btn btn-info stretched-link">More About Us</a></div>
	        </div>
	    </div>
	</div>
</div>
</div>

		
<% include partials/footer %>