<% include partials/header %>
	
<body id="bg">
	
	<img src="https://images.wallpaperscraft.com/image/books_library_shelves_138556_1920x1080.jpg" style="background-repeat: no-repeat;position: fixed;top: 0;left: 0;object-fit: cover;width: 100vw;height: calc(100vh + 60px);background-position: center;background-attachment: fixed;">
<!-- Navbar Begins -->

<nav class="navbar navbar-expand-lg navbar-dark fixed-top navigation">
		  <a class="navbar-brand mb-0 h1 logo" href="/">BookEx</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
				  <li class="nav-item my-auto active"><a class="nav-link" href="/" style="margin: 0 10px;">Home</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/books" style="margin: 0 10px;">Books</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/ebooks" style="margin: 0 10px;">E-Books/PDFs</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/misc" style="margin: 0 10px;">Miscellaneous</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/books/new" style="margin: 0 10px;">Lend Items</a></li>
				  <% if(currentUser != null) {%>
				  <li class="nav-item my-auto"><a class="nav-link" href="/mybooks" style="margin: 0 10px;">My Books</a></li>
				  <% } %>
			  </ul>
			<ul class="navbar-nav ml-auto">
				<% if (!currentUser) { %>
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0" action="/signup" method="GET">
						<button class="btn btn-outline-info my-2 my-sm-0" style="margin: 0 10px;">Login</button>
					</form>
				</li>
				<% } else { %>
				<li class="nav-item">
                    <% if(show) { console.log(seen); if(seen) { %>
                    <a href="/notif"><i class="far fa-bell btn-lg"></i></a>
                    <% } else { %>
                    <a href="/notif"><i class="fas fa-bell btn-lg" style=" background-color: blue; color: white; "></i></a>
                    <% } } %>
                </li>
				<li class="nav-item" style="text-align: center;">
					<span class="my-2 my-lg-0 mx-4" style="color:white">Logged in as:</span>
					<br>
					<span class="my-2 my-lg-0 mx-4" style="color:white"><%= currentUser.firstname %> <%= currentUser.lastname %></span>
				</li>
				<li class="nav-item my-auto" style="text-align: center;color:white;font-size: 24px;">
					<a class="my-2 my-lg-0 mx-4" style="color: white;background-color: transparent;border: 0;" href="/<%= currentUser._id.toString() %>/cart"><i class="fa fa-shopping-cart"></i></a>
				</li>
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0" action="/signout" method="GET">
						<button class="btn btn-outline-danger my-2 my-sm-0" style="margin: 0 10px;">Logout</button>
					</form>
				</li>
				<% } %>
			</ul>
			
		  </div>
		</nav>

<!-- End of Navbar -->
<!-- Adding extra margin -->
	<p style="margin:8%"> </p>

<!-- Main Welcome Image -->
<div class="bg" style="background-color: rgba(0, 0, 0, 0)"></div>
<div class="bg-text">BookEx</div>
<div class="bg-subtext">A Wonderland for the Old Books and the Geeky Minds.</div>

<div class="scroll-down"></div>

<!-- Main Welcome Image ends -->



<!-- Navigation Cards -->
<div class="container" style="max-width: 1500px;">
<div class="card-deck" style="margin: 30px auto;">
    <div class="col-lg-3 my-2">
	    <div class="card profile-card-2">
	        <div class="card-img-block">
	            <img class="img-fluid" src="https://images.pexels.com/photos/1148399/pexels-photo-1148399.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image cap" style="width: 150px;height: 150px;border-radius: 50%;display: block;margin: 15px auto 0; object-fit: cover;">
	        </div>
	        <div class="card-body pt-5">
	            <h5 class="card-title" style="text-align:center;">Get Books</h5>
	            <p class="card-text">Get the books you want at a much lower price than their market price.<br><strong style="text-align:center; display:block;">How?</strong>Simple, you buy the books which are being provided to you by other peoples who don't need those books now.<strong> What are you waiting for!</strong></p>
	            <div style="text-align:center"><a href="/books" class="btn btn-primary stretched-link">Start Buying Now!</a></div>
	        </div>
	    </div>
	</div>
	<div class="col-lg-3 my-2">
	    <div class="card profile-card-2" style="">
	        <div class="card-img-block">
	            <img class="img-fluid" src="https://writenonfictionnow.com/wp-content/uploads/2013/01/Ebooks-flying-out-of-computer-Stuart-Miles-freedigital.jpg" alt="Card image cap" style="width: 150px;height: 150px;border-radius: 50%;display: block;margin: 15px auto 0; object-fit: cover;">
	        </div>
	        <div class="card-body pt-5">
	            <h5 class="card-title" style="text-align:center;">Download Ebooks</h5>
	            <p class="card-text"><strong>BookEx</strong> helps you get some of the most required and relevant Ebooks used among peers. You can simply Login and view or download these Ebooks for <strong>free</strong>. Also, if you have some relevant Ebooks, do share it on BookEx so others may also be helped.</p>
	            <div style="text-align:center"><a href="/ebooks" class="btn btn-primary stretched-link">Start Downloading Now!</a></div>
	        </div>
	    </div>
	</div>
	<div class="col-lg-3 my-2">
	    <div class="card profile-card-2" style="">
	        <div class="card-img-block">
	            <img class="img-fluid" src="https://live.staticflickr.com/4132/5199904522_034f3f8b0a_c.jpg" alt="Card image cap" style="width: 150px;height: 150px;border-radius: 50%;display: block;margin: 15px auto 0; object-fit: cover;">
	        </div>
	        <div class="card-body pt-5">
	            <h5 class="card-title" style="text-align:center;">Buy Other Items</h5>
	            <p class="card-text">Need some other daily study stuffs? Why don't first look on <strong>BookEx</strong> if someone is lending that to you. You may also be benifited with a much lower price or get it for free. Also, do lend if you have some usefull item to give to someone else.</p>
	            <div style="text-align:center"><a href="/misc" class="btn btn-primary stretched-link">Start Buying Now!</a></div>
	        </div>
	    </div>
	</div>
    <div class="col-lg-3 my-2">
	    <div class="card profile-card-2">
	        <div class="card-img-block">
	            <img class="img-fluid" src="https://townsquare.media/site/103/files/2014/04/84010602-630x450.jpg?w=980&q=75" alt="Card image cap" style="width: 150px;height: 150px;border-radius: 50%;display: block;margin: 15px auto 0; object-fit: cover;">
	        </div>
	        <div class="card-body pt-5">
	            <h5 class="card-title" style="text-align:center;">Lend Books/Items</h5>
	            <p class="card-text">Got some books or other usefull study items on your shelf that are of no more use to you. Why not sell or lend them on <strong>BookEx</strong>?<br>Get the best price for your books and help someone else need.<strong>So, what are you waiting for!</strong></p>
	            <div style="text-align:center"><a href="/books/new" class="btn btn-warning stretched-link">Lend Books/Items Now!</a></div>
	        </div>
	    </div>
	</div>
	
</div>
<div class="card-deck" style="margin: 30px auto;text-align: center;">
    <div class="col-lg-4 my-2" style="margin: auto">
	    <div class="card profile-card-2" style="">
	        <div class="card-img-block">
	            <img class="img-fluid" src="https://i.pinimg.com/originals/a3/1b/1d/a31b1d35380af24948f54b42346225f6.png" alt="Card image cap" style="width: 150px;height: 150px;border-radius: 50%;display: block;margin: 15px auto 0; object-fit: cover;">
	        </div>
	        <div class="card-body pt-5">
	            <h5 class="card-title">About Us</h5>
	            <p class="card-text"><strong>BookEx</strong> is your one stop solution for all study related requirments. Know more about website, how to use it, our privacy policies or share your views about our website.</p>
	            <div style="text-align:center"><a href="/about-us" class="btn btn-info stretched-link">More About Us</a></div>
	        </div>
	    </div>
	</div>
</div>	
</div>
	
	<style>
		var bg = document.getElementById('bg');
		bg.
	</style>
		
<% include partials/footer %>