<% include partials/header %>
		<!-- Navbar Begins -->

<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
				  <a class="navbar-brand mb-0 h1" href="/">BookEx</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button>

				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					  <ul class="navbar-nav mr-auto">
						  <li class="nav-item my-auto"><a class="nav-link" href="/" style="margin: 0 10px;">Home</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/books" style="margin: 0 10px;">Books</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/ebooks" style="margin: 0 10px;">E-Books/PDFs</a></li>
				  <li class="nav-item my-auto"><a class="nav-link" href="/misc" style="margin: 0 10px;">Miscellaneous</a></li>
				  <li class="nav-item my-auto active"><a class="nav-link" href="/books/new" style="margin: 0 10px;">Lend Items</a></li>
				  <% if(currentUser != null) {%>
				  <li class="nav-item my-auto"><a class="nav-link" href="/mybooks" style="margin: 0 10px;">My Books</a></li>
				  <% } %>
					  </ul>
					<ul class="navbar-nav ml-auto">
						<% if (!currentUser) { %>
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0" action="/signup" method="GET">
						<button class="btn btn-outline-info my-2 my-sm-0" style="margin: 0 10px;">Login</button>
					</form>
				</li>
				<% } else { %>
				<li class="nav-item">
                    <% if(show) { if(seen) { %>
                    <a href="/notif"><i class="far fa-bell btn-lg"></i></a>
                    <% } else { %>
                    <a href="/notif"><i class="fas fa-bell btn-lg" style=" background-color: blue; color: white; "></i></a>
                    <% } } %>
                </li>
				<li class="nav-item" style="text-align: center;">
					<span class="my-2 my-lg-0 mx-4">Logged in as:</span>
					<br>
					<span class="my-2 my-lg-0 mx-4"><%= currentUser.firstname %> <%= currentUser.lastname %></span>
				</li>
				<li class="nav-item my-auto" style="text-align: center;color:white;font-size: 24px;">
					<a class="my-2 my-lg-0 mx-4" style="color: black;background-color: transparent;border: 0;" href="/<%= currentUser._id.toString() %>/cart"><i class="fa fa-shopping-cart"></i></a>
				</li>
				<li class="nav-item">
					<form class="form-inline my-2 my-lg-0" action="/signout" method="GET">
						<button class="btn btn-outline-danger my-2 my-sm-0" style="margin: 0 10px;">Logout</button>
					</form>
				</li>
				<% } %>
					</ul>

				  </div>
				</nav>

		<!-- End of Navbar -->
<!-- Adding extra margin -->
	<p style="margin:8%"> </p>

		<!-- 	form	 -->
		<!--    -> Title
				-> Author
				-> Price
				-> Description
				-> Image -->
			<div class="container screen" style="border: 1px solid black ; border-radius:10px">
				<form style="padding:15px 35px;" action="/books" method="POST" enctype="multipart/form-data" name="form-book-fill">
					 <div class="form-group row">
						<label for="inputTitle" class="col-sm-2 col-form-label">Item Type</label>
						<div class="col" style="text-align: center;">
							<button class="btn col-lg-3 col-sm-12 my-1 btn-primary" id="hard" onclick="hard_fn()" type="button">Book</button>
							<button class="btn col-lg-3 col-sm-12 my-1 btn-secondary" id="pdf" onclick="pdf_fn()" type="button">PDF</button>
							<button class="btn col-lg-3 col-sm-12 my-1 btn-secondary" id="misc" onclick="misc_fn()" type="button">Miscellaneous</button>
						 </div>
					</div>
					 <div class="form-group row">
						<label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
						<div class="col">
							<input  type="text" name="newBook[title]" class="form-control" id="inputTitle" placeholder="Title">
						 </div>
					</div>
					<div class="form-group row" id="author">
						<label for="inputAuthor" class="col-sm-2 col-form-label">Author</label>
						<div class="col">
							<input  type="text" name="newBook[author]"class="form-control" id="inputAuthor" placeholder="Author">
						</div>	
					</div>
					<div class="form-group row" id="price-div">
						<label for="inputPrice" class="col-sm-2 col-form-label">Price</label>
						<div class="col">
							<input  type="number" name= "newBook[price]" class="form-control" id="inputPrice" placeholder="Price" min="0">
							<p style="font-size: 12px;">
								<i class="fa fa-exclamation-triangle" style="color:red;"></i> <strong>Please Note:</strong> If price is set to <strong>0</strong> the item will be considered as being lend for <strong>free</strong>.
							</p>
						 </div>
					</div>
					<div class="form-group row">
						<label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
						<div class="col">
							<textarea class="form-control" name= "newBook[description]" id="InputDescription" placeholder="Description"></textarea>
						</div>
					</div>
					<div class="form-group row" id="tag-div" style="display: none;">
						<label for="inputTag" class="col-sm-2 col-form-label">Tag</label>
						<div class="col">
							<label class="radio-inline mx-2"><input type="radio" name="newBook[tag]" value = "cn"> College Notes</label>
							<label class="radio-inline mx-2"><input type="radio" name="newBook[tag]" value = "pyq"> Previous Year Papers</label>
							<label class="radio-inline mx-2"><input type="radio" name="newBook[tag]" value = "oth" checked> Others</label>
							<!-- <button class="btn btn-sm btn-secondary col-lg-3 col-sm-12 my-1" style="width: fit-content; border-radius: 20px;" name="newBook[tag]" value="oth" type="button" onclick="cn_fn()" id="cn">College Notes</button>
							<button class="btn btn-sm btn-secondary col-lg-4 col-sm-12 my-1" style="width: fit-content; border-radius: 20px;" name="newBook[tag]" value="oth" type="button" onclick="pyq_fn()" id="pyq">Previous Year Papers</button>
							<button class="btn btn-sm btn-primary col-lg-3 col-sm-12 my-1" style="width: fit-content; border-radius: 20px;" name="newBook[tag]" value="oth" type="button" onclick="oth_fn()" id="oth">Others</button> -->
						 </div>
					</div>
					<div class="form-group row" id="branch-div">
						<label for="inputTag" class="col-sm-2 col-form-label">Branch</label>
						<div class="col">
							<label class="radio-inline mx-2"><input type="radio" name="newBook[branch]" value = "all" checked> All/None</label>
							<label class="radio-inline mx-2"><input type="radio" name="newBook[branch]" value = "cse"> CSE</label>
							<label class="radio-inline mx-2"><input type="radio" name="newBook[branch]" value = "ece"> ECE</label>
							<label class="radio-inline mx-2"><input type="radio" name="newBook[branch]" value = "me"> ME</label>
							<label class="radio-inline mx-2"><input type="radio" name="newBook[branch]" value = "ee"> EE</label>
							<label class="radio-inline mx-2"><input type="radio" name="newBook[branch]" value = "ce"> CE</label>
						</div>
					</div>
					<div class="form-group row" id="hard-div">
						<label for="inputImage" class="col-sm-2 col-form-label">Image</label>
						<div class="col">
							<input type="file" name = "image" class="form-control-file" id="inputImage" placeholder="Image" accept="image/*">
						 </div>
					</div>
					<div class="form-group row" id="pdf-div" style="display: none;">
						<label for="inputImage" class="col-sm-2 col-form-label">File</label>
						<div class="col">
							<input type="file" name = "pdf_file" class="form-control-file" id="inputImage" placeholder="Image" accept="application/pdf,application/vnd.ms-excel">
						 </div>
					</div>
					<p style="font-size: 12px;">
						<i class="fa fa-exclamation-triangle" style="color:red;"></i> <strong>Please Note:</strong> Clicking the submit button will send your entry about the product to our team. It will be uploaded on the website after the verification of the details provided is done.
					</p>
					<div style="text-align: center;">
						<button type="submit" class="btn btn-lg btn-primary" style="margin: 3px auto;border-radius: 24px;width: 60%;">Submit</button>
					</div>
				</form>
			</div>

	<script>
		var hard_btn = document.getElementById('hard');
		var pdf_btn = document.getElementById('pdf');
		var misc_btn = document.getElementById('misc');
		var tag_div = document.getElementById('tag-div');
		var branch_div = document.getElementById('branch-div');
		var file = document.getElementById('hard-div');
		var url = document.getElementById('pdf-div');
		var price = document.getElementById('price-div');
		var author = document.getElementById('author');
		var cse = document.getElementById('cse');
		var ece = document.getElementById('ece');
		var me = document.getElementById('me');
		var ee = document.getElementById('ee');
		var ce = document.getElementById('ce');
		var oth = document.getElementById('oth');
		var pyq = document.getElementById('pyq');
		var all = document.getElementById('all');
		var cn = document.getElementById('cn');
		function cse_fn(){
			cse.classList.add('btn-primary');
			cse.classList.remove('btn-secondary');
			ece.classList.remove('btn-primary');
			ece.classList.add('btn-secondary');
			me.classList.remove('btn-primary');
			me.classList.add('btn-secondary');
			ee.classList.remove('btn-primary');
			ee.classList.add('btn-secondary');
			ce.classList.remove('btn-primary');
			ce.classList.add('btn-secondary');
			all.classList.remove('btn-primary');
			all.classList.add('btn-secondary');
			cse.value = "cse";
			ece.value = "cse";
			me.value = "cse";
			ee.value = "cse";
			ce.value = "cse";
			all.value = "cse";
		}
		function ece_fn(){
			cse.classList.remove('btn-primary');
			cse.classList.add('btn-secondary');
			ece.classList.add('btn-primary');
			ece.classList.remove('btn-secondary');
			me.classList.remove('btn-primary');
			me.classList.add('btn-secondary');
			ee.classList.remove('btn-primary');
			ee.classList.add('btn-secondary');
			ce.classList.remove('btn-primary');
			ce.classList.add('btn-secondary');
			all.classList.remove('btn-primary');
			all.classList.add('btn-secondary');
			cse.value = "ece";
			ece.value = "ece";
			me.value = "ece";
			ee.value = "ece";
			ce.value = "ece";
			all.value = "ece";
			
		}
		function cn_fn(){
			cn.classList.add('btn-primary');
			cn.classList.remove('btn-secondary');
			pyq.classList.remove('btn-primary');
			pyq.classList.add('btn-secondary');
			oth.classList.remove('btn-primary');
			oth.classList.add('btn-secondary');
			cn.value = "cn";
			oth.value = "cn";
			pyq.value = "cn";
			
		}
		function me_fn(){
			cse.classList.remove('btn-primary');
			cse.classList.add('btn-secondary');
			ece.classList.remove('btn-primary');
			ece.classList.add('btn-secondary');
			me.classList.add('btn-primary');
			me.classList.remove('btn-secondary');
			ee.classList.remove('btn-primary');
			ee.classList.add('btn-secondary');
			ce.classList.remove('btn-primary');
			ce.classList.add('btn-secondary');
			all.classList.remove('btn-primary');
			all.classList.add('btn-secondary');
			cse.value = "me";
			ece.value = "me";
			me.value = "me";
			ee.value = "me";
			ce.value = "me";
			all.value = "me";
			
		}
		function ee_fn(){
			cse.classList.remove('btn-primary');
			cse.classList.add('btn-secondary');
			ece.classList.remove('btn-primary');
			ece.classList.add('btn-secondary');
			me.classList.remove('btn-primary');
			me.classList.add('btn-secondary');
			ee.classList.add('btn-primary');
			ee.classList.remove('btn-secondary');
			ce.classList.remove('btn-primary');
			ce.classList.add('btn-secondary');
			all.classList.remove('btn-primary');
			all.classList.add('btn-secondary');
			cse.value = "ee";
			ece.value = "ee";
			me.value = "ee";
			ee.value = "ee";
			ce.value = "ee";
			all.value = "ee";
			
		}
		function ce_fn(){
			cse.classList.remove('btn-primary');
			cse.classList.add('btn-secondary');
			ece.classList.remove('btn-primary');
			ece.classList.add('btn-secondary');
			me.classList.remove('btn-primary');
			me.classList.add('btn-secondary');
			ee.classList.remove('btn-primary');
			ee.classList.add('btn-secondary');
			ce.classList.add('btn-primary');
			ce.classList.remove('btn-secondary');
			all.classList.remove('btn-primary');
			all.classList.add('btn-secondary');
			cse.value = "ce";
			ece.value = "ce";
			me.value = "ce";
			ee.value = "ce";
			ce.value = "ce";
			all.value = "ce";
			
		}
		function all_fn(){
			cse.classList.remove('btn-primary');
			cse.classList.add('btn-secondary');
			ece.classList.remove('btn-primary');
			ece.classList.add('btn-secondary');
			me.classList.remove('btn-primary');
			me.classList.add('btn-secondary');
			ee.classList.remove('btn-primary');
			ee.classList.add('btn-secondary');
			ce.classList.remove('btn-primary');
			ce.classList.add('btn-secondary');
			all.classList.add('btn-primary');
			all.classList.remove('btn-secondary');
			cse.value = "all";
			ece.value = "all";
			me.value = "all";
			ee.value = "all";
			ce.value = "all";
			all.value = "all";
			
		}
		function oth_fn(){
			cn.classList.remove('btn-primary');
			cn.classList.add('btn-secondary');
			pyq.classList.remove('btn-primary');
			pyq.classList.add('btn-secondary');
			oth.classList.add('btn-primary');
			oth.classList.remove('btn-secondary');
			cn.value = "oth";
			oth.value = "oth";
			pyq.value = "oth";
			
		}
		function pyq_fn(){
			cn.classList.remove('btn-primary');
			cn.classList.add('btn-secondary');
			pyq.classList.add('btn-primary');
			pyq.classList.remove('btn-secondary');
			oth.classList.remove('btn-primary');
			oth.classList.add('btn-secondary');
			cn.value = "pyq";
			oth.value = "pyq";
			pyq.value = "pyq";
			
		}
		function hard_fn() {
			hard_btn.classList.add('btn-primary');
			hard_btn.classList.remove('btn-secondary');
			pdf_btn.classList.add('btn-secondary');
			pdf_btn.classList.remove('btn-primary');
			misc_btn.classList.add('btn-secondary');
			misc_btn.classList.remove('btn-primary');
			file.style.display = "flex";
			url.style.display = "none";
			price.style.display = "flex";
			author.style.display = "flex";
			branch_div.style.display = "flex";
			tag_div.style.display = "none";
			document['form-book-fill'].action = "/books";
		}
		function pdf_fn()
		{
			hard_btn.classList.add('btn-secondary');
			hard_btn.classList.remove('btn-primary');
			pdf_btn.classList.add('btn-primary');
			pdf_btn.classList.remove('btn-secondary');
			misc_btn.classList.add('btn-secondary');
			misc_btn.classList.remove('btn-primary');
			file.style.display = "none";
			url.style.display = "flex";
			author.style.display = "flex";
			price.style.display = "none";
			branch_div.style.display = "flex";
			tag_div.style.display = "flex";

			document['form-book-fill'].action = "/ebooks";
		}
		function misc_fn()
		{
			misc_btn.classList.remove('btn-secondary');
			misc_btn.classList.add('btn-primary');
			hard_btn.classList.add('btn-secondary');
			hard_btn.classList.remove('btn-primary');
			pdf_btn.classList.remove('btn-primary');
			pdf_btn.classList.add('btn-secondary');
			file.style.display = "flex";
			author.style.display = "none";
			url.style.display = "none";
			price.style.display = "flex";
			branch_div.style.display = "none";
			tag_div.style.display = "none";

			document['form-book-fill'].action = "/misc";
		}
	</script>
<% include partials/footer %>