<% include partials/header %>
<!-- 	form	 -->
<div class="container" style="border: 1px solid black ; margin:100px auto; border-radius:10px">
	<form style="padding:15px 35px;">
		 <div class="form-group row">
    		<label for="inputEmail" class="col-sm-2 col-form-label">Email address</label>
			<div class="col">
    			<input type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
			 </div>
  		</div>
  		<div class="form-group row">
    		<label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
			<div class="col">
    			<input type="password" class="form-control" id="inputPassword" placeholder="Password">
			</div>	
  		</div>
    	<div class="form-group row">
			<label for="InputName" class="col-sm-2 col-form-label">Name</label>
    		<div class="col">
        		<input type="text" class="form-control" id="InputName" placeholder="First name">
        	</div>
    		<div class="col">
        		<input type="text" class="form-control" id="InputName" placeholder="Last name">
    		</div>
  		</div>
		<div class="form-group row">
    		<label for="inputPhone" class="col-sm-2 col-form-label">Mobile No</label>
			<div class="col">
    			<input type="tel" class="form-control" id="inputphone" placeholder="Mobile No">
			 </div>
  		</div>
		<button type="submit" class="btn btn-primary" style="margin: 3px 42%">Submit</button>
    </form>
</div>

<% include partials/footer %>