<% include partials/header %>
<!-- 	form	 -->
<div class="container" style="border: 1px solid black ; margin:10% auto; border-radius:10px">
	<form action= "/signup" method="POST" style="padding:15px 35px;">
		 <div class="form-group row">
    		<label for="inputEmail" class="col-sm-2 col-form-label">Email address</label>
			<div class="col input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1"><i class="fa fa-at"></i></span>
				</div>
    			<input type="email" name="username" class="form-control" id="inputEmail" placeholder="name@example.com">
			 </div>
  		</div>
  		<div class="form-group row">
    		<label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
			<div class="col input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1"><i class="fa fa-lock"></i></span>
				</div>
    			<input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
			</div>	
  		</div>
		<button type="submit" class="btn btn-lg btn-primary" style="margin: 3px 42%">Submit</button>
    </form>
</div>

<% include partials/footer %>