<% include partials/header %>
<div class="container" style="border: 1px solid black ; margin:10% auto; border-radius:10px">
	<form action= "/signup/detail" method="POST" style="padding:15px 35px;">
		<div class="form-group row">
			<label for="InputName" class="col-sm-2 col-form-label">Name</label>
			<div class="col input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
				</div>
				<input type="text" name="detail[firstname]" class="form-control" id="InputName" placeholder="First name">
			</div>
			<div class="col input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
				</div>
				<input type="text" name="detail[lastname]" class="form-control" id="InputName" placeholder="Last name">
			</div>
		</div>
		<div class="form-group row">
			<label for="inputPhone" class="col-sm-2 col-form-label">Mobile No</label>
			<div class="col input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"></i></span>
				</div>
				<input type="tel" name="detail[mobileno]" class="form-control" id="inputphone" placeholder="Mobile No">
			 </div>
		</div>
		<div class="form-group row">
			<label for="inputCity" class="col-sm-2 col-form-label">City</label>
			<div class="col input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1"><i class="fa fa-map-marker"></i></span>
				</div>
				<input type="text" name="detail[city]" class="form-control" id="inputCity" placeholder="Eg: Mumbai">
			 </div>
		</div>
		<div class="form-group row">
			<label for="inputSchool" name="detail[college]" class="col-sm-2 col-form-label">School/College</label>
			<div class="col input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-addon1"><i class="fa fa-university"></i></span>
				</div>
				<input type="text" class="form-control" id="inputCollege" placeholder="Eg: IIT Bombay">
			 </div>
		</div>
		<button type="submit" class="btn btn-lg btn-primary" style="margin: 3px 42%">Submit</button>
	</form>	
</div>
<% include partials/footer %>		